<a href="https://colab.research.google.com/github/MarcosLevySilveira/PythonClasses/blob/main/Python_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for count in range(4):
  print (count)

0
1
2
3

In [ ]:
range(1,4)

range(1, 4)

In [ ]:
range(2,10,2)

range(2, 10, 2)

In [ ]:
for count in range(2,10,2):
  print (count)

2
4
6
8

In [ ]:
for count in range(10,0,-1):
  print (count)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for letter in "Hello!":
  print(letter,end = " ")

H e l l o !

In [ ]:
for count in range (1,30,2):
  print (count)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [ ]:
for count in range (0,10,2):
  print (count)

0
2
4
6
8

In [ ]:
number = 10
if number>0:
  print('number is positive')

print('the if statement is easy')

number is positive
the if statement is easy

In [ ]:
number = -10
if number<0:
  print('number is negative')

number is negative

In [ ]:
number = 5
if number>0:
  print('number is positive')
else:
  print('it is a negative number')

number is positive

In [ ]:
number = 0

if number > 0:
  print ('positive number')

elif number == 0:
  print('zero')
else:
  print('negative number')

zero

In [27]:
number = int(input("Enter numeric grade: "))
if number > 89:
  letter = 'A'
elif number >79:
  letter = 'B'
elif number > 69:
  letter = 'C'
else:
  letter = 'F'
print ("The letter grade is", letter)

Enter numeric grade: 79
The letter grade is C

In [43]:
number = int(input("Enter the numeric grade: "))
if number > 100 or number < 0:
  print("Error: grade must be between 100 and 0")
elif number > 89:
  letter = 'A'
  print ("The letter grade is", letter)
elif number >79:
  letter = 'B'
  print ("The letter grade is", letter)
elif number > 69:
  letter = 'C'
  print ("The letter grade is", letter)
else:
  letter = 'F'
  print ("The letter grade is", letter)

Enter the numeric grade: 101
Error: grade must be between 100 and 0

In [45]:
number = int(input("Enter the numeric grade: "))
if number >= 0 and number <= 100:
  print("Enter grade")
elif number > 89:
  letter = 'A'
  print ("The letter grade is", letter)
elif number >79:
  letter = 'B'
  print ("The letter grade is", letter)
elif number > 69:
  letter = 'C'
  print ("The letter grade is", letter)
else:
  letter = 'F'
  print("The letter grade is", letter)

Enter the numeric grade: 50
Enter grade

In [46]:
total = 0

number = int(input("Enter a number: "))

while number !=0:
    total += number
    number = int(input("Enter a number: "))

print('total =', total)

Enter a number: 23
Enter a number: 67
Enter a number: 0
total = 90

In [47]:
theSum = 0
for count in range(1,10000001):
  theSum += count
print(theSum)

50000005000000

In [50]:
myString = "Hi there!"
myString[3]
myString[3:8]
myString[5:len(myString)]

'ere!'

In [51]:
i = 20
n = 10

while i>=n:
  print(i)
  i = i-1

20
19
18
17
16
15
14
13
12
11
10

In [53]:
name = "myfile.txt"
name[0:]
name[0:1]
name[0:2]
name[:len(name)]
name[-3:]
name[2:6]

'file'

In [58]:
fileName = "test.exe"
".exe" in fileName

True

In [59]:
fileName = "test.exe"
".txt" in fileName

False

In [60]:
x = 1
y = 2

temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 2
The value of y after swapping: 1

In [61]:
for count in range(0,10,2):
  print (count)

0
2
4
6
8

In [70]:
i = 5
n = 10

while i>=n and i<20:
  print(i)
  i = i+1
  print(i)

In [65]:
number = int(input("write a number: "))

if number == 1:
    print(number, "is not a prime number")
elif number > 1:
   for i in range(2,number):
       if (number % i) == 0:
           print(number,"is not a prime number")
           print(i,"times",number//i,"is",number)
           break
   else:
       print(number,"is a prime number")

else:
   print(number,"is not a prime number")

write a number: 12
12 is not a prime number
2 times 6 is 12

In [72]:
sumTotal = 0

number = int(input("Enter a number: "))

while number !=0:
    sumTotal += number
    number = int(input("Enter a number: "))

print('total =', sumTotal)

Enter a number: 10
Enter a number: 20
Enter a number: 30
Enter a number: 0
total = 60